﻿<div class="row" id="factoryViewer">
    <div data-bind="template: { name: 'error-template', foreach: errorMessages}"></div>
    <div>
        <h2>Root</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-bind="click: setSelectedItem(null), enable: errorMessages().length == 0">Add Node</button>
    </div>
    <br/>
    <div data-bind="template: { name: 'factory-template', foreach: factories}"></div>
</div>

<!-- Modals -->
@RenderPage("~/Views/Modals/addModal.cshtml")