﻿<div class="modal fade" id="deleteModal" data-bind="with: selectedItem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Delete Node</h3>
            </div>
            <div class="modal-body has-danger">
                <label id="spnDeleteWarning" class="form-control-label">Warning: this action cannot be undone.</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-bind="click: deleteNode">Delete</button>
            </div>
        </div>
    </div>
</div>