﻿<div class="modal fade" id="editBoundsModal" data-bind="with: selectedItem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Edit Node Bounds</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <div>
                        <h4 id="lblBounds">Bounds</h4>
                    </div>
                    <div>
                        <div data-bind="css: { 'has-danger': !lowerBound.isValid()}">
                            <label id="lblFrom">From </label>
                            <input id="txtFrom" class="form-control" type="number" data-bind="value: lowerBound, valueUpdate: 'afterkeydown'" step="1"/>
                        </div>
                        <div data-bind="css: { 'has-danger': !upperBound.isValid()}">
                            <label id="lblTo">To </label>
                            <input id="txtTo" class="form-control" type="number" data-bind="value: upperBound, valueUpdate: 'afterkeydown'" step="1"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bind="click: editNode, enable: upperBound.isValid() && lowerBound.isValid()" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>