﻿<div class="modal fade" id="generateModal" data-bind="with: selectedItem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Generate Children</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-6" data-bind="css: { 'has-danger': !childCount.isValid()}">
                    <label id="lblCount">Number of Children</label>
                    <input id="txtCount" class="form-control" type="number" min="1" max="15" data-bind="value: childCount, valueUpdate: 'afterkeydown'" step="1"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: generateNode, enable: childCount.isValid()" value="Submit">Save changes</button>
            </div>
        </div>
    </div>
</div>