﻿<div class="modal fade" id="renameModal" data-bind="with: selectedItem">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Rename Node</h3>
            </div>
            <div class="modal-body" data-bind="css: { 'has-danger': !factoryName.isValid()}">
                <label id="lblName">Name</label>
                <input id="txtName" class="form-control" data-bind="value: factoryName, valueUpdate: 'afterkeydown'"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: renameNode, enable: factoryName.isValid()">Save changes</button>
            </div>
        </div>
    </div>
</div>