﻿@{
    //ViewBag.Title = "Home Page";
}
<style>
    .error { background: red; }
</style>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/knockout.validation.js"></script>
    <script src="~/Scripts/Helpers/factoryViewModelHelpers.js"></script>
    <script src="~/Scripts/ViewModels/rootViewModel.js"></script>
    <script src="~/Scripts/ViewModels/factoryViewModel.js"></script>
    <script src="~/Scripts/ViewModels/childViewModel.js"></script>
    <script src="~/Scripts/ViewModels/errorViewModel.js"></script>

    <script>
        $(function() {
            var tree = $.connection.treeHub;

            ko.validation.init({
                registerExtenders: true,
                messagesOnModified: true,
                insertMessages: false
            });

            var vm = new rootViewModel(tree);

            $.connection.hub.disconnected(function() {
                vm.errorMessages.push(new errorViewModel(
                    '',
                    'Disconnected from host. Reconnecting in 5 seconds.',
                    null,
                    vm
                ));

                setTimeout(function() {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });

            $.connection.hub.reconnecting(function() {
                vm.errorMessages.push(new errorViewModel(
                    '',
                    'Please wait, reconnecting to host.',
                    null,
                    vm
                ));
            });

            $.connection.hub.reconnected(function() {
                vm.errorMessages.removeAll();
            });

            tree.client.addNode = function(node) {
                var parsedNode = ko.utils.parseJson(node);

                vm.factories.push(
                    new factoryViewModel(
                        parsedNode.Id,
                        parsedNode.Name,
                        parsedNode.LowerBound,
                        parsedNode.UpperBound,
                        getChildNodes(parsedNode.Children),
                        vm));
            };
            tree.client.deleteNode = function(nodeId) {
                vm.factories.remove(function(node) {
                    return node.id() == nodeId;
                });
            };
            tree.client.renameNode = function(nodeId, name) {
                var node = ko.utils.arrayFirst(vm.factories(), function(node) {
                    return node.id() == nodeId;
                });
                node.factoryName(name);
            };
            tree.client.generateNode = function(nodeId, children) {
                var node = ko.utils.arrayFirst(vm.factories(), function(node) {
                    return node.id() == nodeId;
                });

                var kids = getChildNodes(ko.utils.parseJson(children));

                replaceChildren(node, kids);
            };
            tree.client.editBounds = function(nodeId, lowerBound, upperBound, children) {
                var node = ko.utils.arrayFirst(vm.factories(), function(node) {
                    return node.id() == nodeId;
                });

                var kids = getChildNodes(ko.utils.parseJson(children));

                node.lowerBound(lowerBound);
                node.upperBound(upperBound);

                replaceChildren(node, kids);
            };
            tree.client.getState = function(nodes) {
                var parsedNodes = ko.utils.parseJson(nodes);

                parsedNodes.forEach(
                    function(node) {
                        vm.factories.push(
                            new factoryViewModel(
                                node.Id,
                                node.Name,
                                node.LowerBound,
                                node.UpperBound,
                                getChildNodes(node.Children),
                                vm));
                    });

                if (parsedNodes.length == 20) {
                    tree.server.getNext20(parsedNodes[19].Id);
                } else {
                    console.log('Count as of now:' + vm.factories().length);
                }
            };
            tree.client.throwException = function(error) {
                var parsedError = ko.utils.parseJson(error);
                console.log(parsedError);

                if (parsedError.FactoryId) {
                    var node = ko.utils.arrayFirst(vm.factories(), function(node) {
                        return node.id() == parsedError.FactoryId;
                    });

                    if (node) {
                        node.errorMessages.push(new errorViewModel(parsedError.Id, parsedError.Message, parsedError.FactoryId, node));
                    }
                } else {
                    vm.errorMessages.push(new errorViewModel(parsedError.Id, parsedError.Message, parsedError.FactoryId, vm));
                }
            };

            $('#addModal').on('shown.bs.modal', function () {
                $('#addModal').focus();
            });
            $('#deleteModal').on('shown.bs.modal', function(e) {
                $('#deleteModal').focus();
            });
            $('#renameModal').on('shown.bs.modal', function(e) {
                $('#renameModal').focus();
            });
            $('#editBoundsModal').on('shown.bs.modal', function(e) {
                $('#editBoundsModal').focus();
            });
            $('#generateModal').on('shown.bs.modal', function(e) {
                $('#generateModal').focus();
            });

            ko.applyBindings(vm);

            $.connection.hub.logging = true;
            $.connection.hub.start().done(function () {
                tree.server.getInitialLoad();
            });
        })
    </script>
}
<!-- Templates -->
@RenderPage("~/Views/Templates/FactoryNodeDisplayTemplate.cshtml")
@RenderPage("~/Views/Templates/ErrorMessages.cshtml")
<!-- Views -->
@RenderPage("~/Views/Shared/FactoryViewer.cshtml")