.tether-element, .tether-element:after, .tether-element:before, .tether-element *, .tether-element *:after, .tether-element *:before { box-sizing: border-box; }

.tether-element {
    display: none;
    position: absolute;
}

.tether-element.tether-open { display: block; }

.tether-element.tether-theme-basic {
    max-height: 100%;
    max-width: 100%;
}

.tether-element.tether-theme-basic .tether-content {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: inherit;
    font-family: inherit;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 1em;
}